services:
  GLOB-DB:
    image:  postgres:17.6
    volumes:
      - db-data:/var/lib/postgresql
    env_file:
      - .env
    expose:
      - 5432
  GLOB-ADMIN-DB:
    image: dpage/pgadmin4
    volumes:
      - admin-db:/var/lib/pgadmin
    env_file:
      - .env
    ports:
      - "8080:8080"
  glob-import-export-module:
    build: ./GLOB-IMPORT-EXPORT-MODULE/api
    env_file:
      - .env
    ports:
      - "5184:5184"
    depends_on:
      - GLOB-DB
volumes:
  db-data:
  admin-db:
