services:
  GLOB-DB:
    image: postgres:17.6
    volumes:
      - db-data:/var/lib/postgresql
    env_file:
      - .env
    expose:
      - 5432
  GLOB-ADMIN-DB:
    image: dpage/pgadmin4
    volumes:
      - admin-db:/var/lib/pgadmin
    env_file:
      - .env
    ports:
      - "8080:8080"
  glob-import-export-module:
    build: ./GLOB-IMPORT-EXPORT-MODULE/api
    env_file:
      - .env
    ports:
      - "5184:5184"
    depends_on:
      - GLOB-DB
    restart: always
    develop:
      watch:
        - action: sync+restart
          path: ./GLOB-IMPORT-EXPORT-MODULE/api
          target: /home/app
  glob-data-application:
    build: ./GLOB-DATA-APPLICATION
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - GLOB-DB
    restart: always
    develop:
      watch:
        - action: sync+restart
          path: ./GLOB-DATA-APPLICATION
          target: /home/app
  glob-security:
    build: ./GLOB-SECURITY
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - GLOB-DB
    restart: always
    develop:
      watch:
        - action: sync+restart
          path: ./GLOB-SECURITY
          target: /home/app
  glob-frontend:
    build: ./GLOB-FRONTEND
    ports:
      - "5173:5173"
    depends_on:
      - glob-data-application
      - glob-security
      - glob-import-export-module
    restart: always
    develop:
      watch:
        - action: sync+restart
          path: ./GLOB-FRONTEND
          target: /home/app
  glob-sse:
    build: ./GLOB-SSE
    env_file:
      - .env
    ports:
      - "4000:4000"
    depends_on:
      - GLOB-DB
    restart: always
    develop:
      watch:
        - action: sync+restart
          path: ./GLOB-SSE
          target: /home/app
volumes:
  db-data:
  admin-db: